﻿
@{
    ViewBag.Title = "Products";
}
<div id="bodyContainer">
    <div class="container" ng-init="LoadProducts()">
        <div class="prod-status" ng-if="Status"><h1>{{Status}}</h1></div>
        <div id="dvProdList">
            <div class="panel panel-info col-sm-12 col-md-4 col-lg-3 prod-panel" ng-repeat="dosProd in ListProducts" data-id="{{dosProd.productID}}">
                <div class="panel-heading">
                    <h3 class="panel-title prod-list-header">{{dosProd.name}} <span>({{dosProd.productID}})</span></h3>
                </div>
                <div class="panel-body prod-list-body">
                    <img class="card-img-top" src="{{dosProd.imageURL}}" alt="">
                    <p class="prod-desc">{{dosProd.description}}</p>
                    <button class="btn btn-info" ng-click="OrderIt(dosProd)">Order Now</button>
                </div>
            </div>
        </div>
        <div id="dvProdDetail" class="panel panel-info" ng-if="Product">
            <div class="panel-heading prod-detail-header">
                <div class="panel-title">{{Product.name}}</div>
                <div class="prod-detail-close" ng-click="ShowList()">&times;</div>
            </div>
            <div class="panel-body">
                <form id="fmOrder" name="fmOrder" class="form-horizontal" novalidate>
                    <div class="form-group">
                        <div class="col">
                            <img src="{{Product.imageURL}}" alt="" class="center-block prod-detail-image" style="height: auto" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-form-label">Product ID</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="{{Product.id}}" readonly />
                        </div>
                    </div>
                    <div class="form-group" ng-if="Product.description">
                        <label class="col-sm-3 col-form-label">Description</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="{{Product.description}}" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-form-label">Quantity</label>
                        <div class="col-sm-9">
                            <input id="inOrderQty" type="number" ng-model="items.quantity" class="form-control" min="{{Product.quantityMinimum}}" max="{{Product.quantityMaximum}}" step="{{Product.quantityIncrement}}" />
                        </div>
                    </div>
                    <div id="dvOrderExtra">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-form-label">Shipping Method</label>
                        <div class="col-sm-9">
                            <select id="cbOrderShip" class="form-control"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inOrderEMail" class="col-sm-3 col-form-label required">E-Mail</label>
                        <div class="col-sm-9">
                            <input id="inOrderEMail" type="email" ng-model="orderCustomer.email" class="form-control" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inOrderNameFirst" class="col-sm-3 col-form-label required">First Name</label>
                        <div class="col-sm-9">
                            <input id="inOrderNameFirst" ng-model="orderCustomer.firstName" class="form-control" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inOrderNameLast" class="col-sm-3 col-form-label required">Last Name</label>
                        <div class="col-sm-9">
                            <input id="inOrderNameLast" ng-model="orderCustomer.lastName" class="form-control" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inOrderPhone" class="col-sm-3 col-form-label">Phone</label>
                        <div class="col-sm-9">
                            <input id="inOrderPhone" type="tel" ng-model="orderCustomer.companyName" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inOrderCompany" class="col-sm-3 col-form-label">Company</label>
                        <div class="col-sm-9">
                            <input id="inOrderCompany" ng-model="orderCustomer.companyName" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inOrderAdd1" class="col-sm-3 col-form-label required">Address 1</label>
                        <div class="col-sm-9">
                            <input id="inOrderAdd1" ng-model="orderCustomer.address1" class="form-control" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inOrderAdd2" class="col-sm-3 col-form-label">Address 2</label>
                        <div class="col-sm-9">
                            <input id="inOrderAdd2" ng-model="orderCustomer.address2" value="{{Product}}" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cbOrderState" class="col-sm-3 col-form-label required">Country</label>
                        <div class="col-sm-9">
                            <select id="cbOrderState" ng-model="orderCustomer.countryCode" class="form-control">
                                <option value="US">United States</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inOrderCity" class="col-sm-3 col-form-label required">City</label>
                        <div class="col-sm-9">
                            <input id="inOrderCity" ng-model="orderCustomer.city" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inOrderZip" class="col-sm-3 col-form-label required">Zipcode</label>
                        <div class="col-sm-9">
                            <input id="inOrderzip" ng-model="orderCustomer.postalCode" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cbOrderState" class="col-sm-3 col-form-label required">State</label>
                        <div class="col-sm-9">
                            <select id="cbOrderState" ng-model="orderCustomer.state" class="form-control">
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District Of Columbia</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="prod-detail-order-button">
                            <button id="btDetailCancel" class="btn btn-info" ng-click="ShowList()">Cancel</button>
                            <button id="btDetailOrder" class="btn btn-info" ng-click="ValidateOrder()" ng-disabled="fmOrder.$invalid">Place Order</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="dvOrderComplete" class="panel panel-info" ng-if="Order">
            <div class="panel-heading prod-detail-header">
                <div class="panel-title">Thanks</div>
                <div class="prod-detail-close" ng-click="ShowList()">&times;</div>
            </div>
            <div class="panel-body">
                <p>Your order has been submitted blah, blah, blah.</p>
                <div>
                    Order #: {{Order.Number}}
                </div>
            </div>
        </div>
    </div>
</div>