﻿body
{
    margin-top: 20px;
    background: #eee;
}

footer
{
    color: #aaa;
    width: 100%;
    bottom: 0px;
    margin-top: 20px;
    border-top: 2px solid #f90;
}

footer div:first-child
{
    float: left;
}

footer div:nth-child(2) 
{
    float: left;
    margin-left: 33%;
}

footer div:last-child
{
    float: right;
}

.main-header 
{
    background-color: #fff;
}

.prod-panel
{
    margin-right: 10px;
}

.prod-list-header
{
    height: 40px;
    overflow: hidden;
}

.panel-title span
{
    color: #aaa;
    font-size: .7em;
}

.prod-list-body
{
    padding: 0px;
    margin-bottom: 5px;
}

.panel-body img
{
    height: 150px;
    overflow: hidden;
}

.prod-desc
{
    font-size: .8em;
}

.prod-status
{
    color: #337ab7;
}

.prod-detail-header
{
    float: left;
    width: 100%;
    height: auto;
    font-size: 2em;
    font-weight: bold;
}

.prod-detail-header .panel-title 
{
    float: left;
}   

.prod-detail-close
{
    float: right;
    cursor: pointer;
}

.prod-detail-image
{
    height: auto;
}

.prod-detail label
{
    color: #2e2e2e;
    text-align: right;
    font-weight: bold;
}

.prod-detail-order-button
{
    float: right;
}

.col-form-label
{
    text-align: right;
}

.col-form-label:after
{
    content: ": ";
}

.required:before
{
    color: #f00;
    content: "*";
}

.has-error
{
    border: 1px solid #f00;
}