﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <title>@ViewBag.Title - PFL</title>
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/bundles/cssExt")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/base")
</head>
<body>
    <div class="container body-content" ng-app="PFLApp" ng-controller="ContrProducts">
        <nav class="navbar navbar-default">
            <div class="container-fluid main-header">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="http://www.pfl.com"><img src="https://www.pfl.com/images/PFLlogo15-219.png" alt="PFL" style="height: 25px" /></a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Products</a></li>
                        <li><a href="https://bitbucket.org/TeamRdR/pflweb" target="_blank">Source</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Extras <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="https://www.linkedin.com/in/ronrebennack/" target="_blank">LinkedIn</a></li>
                                <li><a href="https://stackoverflow.com/users/1324653/ron-rebennack" target="_blank">Stacked Overflow</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="http://allrecipes.com/recipe/45736/chicken-tikka-masala/" target="_blank">Best dish</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right">
                        <div class="form-group">
                            <input id="inProdSearch" type="text" class="form-control" placeholder="Search">
                        </div>
                        <button class="btn btn-default" ng-click="SearchProds()">Search</button>
                    </form>
                </div>
            </div>
        </nav>
        @RenderBody()
        <footer>
            <div>Ron Rebennack</div>
            <div><a href="mailto:job@rebennack.com">job@rebennack.com</a></div>
            <div>317-446-4451</div>
        </footer>
    </div>
    
    @Scripts.Render("~/bundles/CustomJS")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
